.row{
    margin: 0;
    width: 100%;
}

.container{
    height: 75%;
}

.form-row{
    margin : 10px 0;
}

html, body{
    height: 100%;
}

header, footer{
    height: 10%;
    background-color: #9CD1EB;
}

header{
    height: 100px;
}

.menu{
    height: 100%;
}

.profil{
    height: 100%;
}

.disconnect{
    margin-top: 40px;
}

.dropdown-item.disconnect{
    color: red;
    font-weight: bold;
    margin: 0;
}

.messageBienvenue{
    height: 80%;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.alert-danger{
    margin-top: 1px;
}